.detail-blog-wrapper{
    padding: 16px;
    .img-cover{
        width: 60%;
        object-fit: cover;
    }
    .blog-title{
        font-size: 20px;
        color: #000;
        margin-top: 10px;

        
    }
    .blog-author{
        font-size: 10px;
        color: grey;
        margin-bottom: 16px;
    }
    .blog-body{

    }
    .kembali{
        background-color: blue;
        border: none;
        outline: none;
        padding: 5px;
        color: white;
        border-radius: 5px;
        width: 80px;
        &:hover{
            cursor: pointer;
        }
    }
}